<div class="action-btns">
  <button type="button" (click)="addProduct()">Add new</button>
  <button type="button" (click)="resetProductList()">Reset list</button>
  <button type="button" (click)="removeAllProducts()">Delete All</button>
</div>
<div class="list-label">Categories :</div>
<div class="filter-block">
  @for (type of productTypes; track type.code) {
  <label [attr.for]="type.code">
    <input
      #radio
      [attr.id]="type.code"
      type="radio"
      name="product_type"
      [value]="type.code"
      (change)="onFilterValueChange(radio.value)"
    />
    {{ type.label }}
  </label>
  }
</div>

<div class="list-label">List of products :</div>
@for (product of filteredList(); track product.id) {
<product-item (delete)="onDelete($event)" [product]="product"></product-item>

}

<div class="summary">
  <strong>Count :</strong>
  <!-- TODO: Display number of items -->
  {{ filteredList().length }}
</div>
