/* You can add global styles to this file, and also import other style files */
* {
  font-size: 28px;
}
.item {
  border: 1px solid silver;
  width: 450px;
  border-radius: 5px;
  margin-bottom: 2px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.action-btn {
  margin-left: 10px;
}

.action-btns {
  margin: 60px 0 30px 0;
}
.action-btns button {
  margin-right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #91a8e3;
  border-color: #91a8e3;
  color: #fff;
}
.action-btns button:hover {
  background-color: #6a7aa4;
  cursor: pointer;
}

.list-label {
  margin-bottom: 5px;
  margin-top: 20px;
  color: #787575;
}

.summary {
  margin-top: 20px;
  color: #787575;
}

.filter-block {
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.filter-block label {
  margin-right: 20px;
}

product-list {
  display: block;
  padding: 0 50px;
}
